body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.02rem;
  color: #1f1f1f;
}

.container {
  margin: 0 auto;
  max-width: 116rem;
  padding: 0 1.5rem;
}

.block__img {
  margin-bottom: 0.8rem;
}
.block__img_none {
  opacity: 0;
}
.block__title {
  margin-bottom: 1.1rem;
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 110%;
}
.block__text {
  font-size: 1.5rem;
  line-height: 160%;
}

.header {
  padding: 1.95rem 0;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 4rem;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__link {
  font-size: 1.5rem;
  line-height: 160%;
  color: #0070a0;
  transition: all 0.5s ease;
  margin-right: 2rem;
}
.header__link:hover {
  text-decoration: underline;
}
.header__button {
  width: 13.9rem;
  height: 3.6rem;
  display: flex;
  background-color: #0070a0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
}
.header__button:hover {
  transform: scale(1.04);
}

.logo {
  max-width: 10.6rem;
}
.logo img {
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 2rem;
}
.menu__link {
  font-size: 1.5rem;
  line-height: 160%;
  transition: all 0.5s ease;
  color: #33383f;
}
.menu__link:hover {
  color: #0070a0;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .menu__list {
    display: none;
  }
  .header__button {
    margin-right: 60px;
  }
  .menu__burger {
    display: block;
    position: absolute;
    top: 1.95rem;
    right: 15px;
    width: 40px;
    height: 30px;
    z-index: 5;
    transition: all 0.5s ease;
  }
  .menu__burger span {
    position: absolute;
    background-color: #0070a0;
    left: 0;
    top: 15px;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .menu__burger::before,
  .menu__burger::after {
    content: "";
    background-color: #0070a0;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .menu__burger::before {
    top: 0;
  }
  .menu__burger::after {
    bottom: 0;
  }
  .menu__burger_active span {
    transform: scale(0);
  }
  .menu__burger_active::before {
    background-color: #fff;
    transform: rotate(45deg);
    top: 19px;
  }
  .menu__burger_active::after {
    background-color: #fff;
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .menu__list_active {
    position: absolute;
    z-index: 4;
    display: block;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #0070a0;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
    transition: all 0.5s ease;
  }
  .menu__list_active .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .menu__list_active .menu__link {
    font-size: 2.5rem;
    color: #fff;
  }
}
@media (max-width: 480px) {
  .header .container {
    display: block;
  }
  .header__logo {
    margin-bottom: 3rem;
  }
  .header__button {
    width: 12rem;
    height: 3.6rem;
    display: flex;
    background-color: #0070a0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .header__button:hover {
    transform: scale(1.04);
  }
}
.hero {
  padding: 9rem 0 4.02rem;
}
.hero__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__item:not(:last-child) {
  margin-right: 2rem;
}
.hero__title {
  margin-bottom: 2.1rem;
  font-family: "Fraunces", serif;
  font-size: 5.8rem;
  line-height: 110%;
  max-width: 48.5rem;
}
.hero__text {
  margin-bottom: 2.9rem;
  max-width: 35.1rem;
  font-size: 2rem;
  line-height: 150%;
}
.hero__buttons {
  display: flex;
  align-items: center;
}
.hero__button {
  width: 17.4rem;
  height: 4.3rem;
  display: flex;
  background-color: #0070a0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-right: 2.4rem;
}
.hero__button:hover {
  transform: scale(1.04);
}
.hero__link {
  font-size: 1.7rem;
  line-height: 160%;
  color: #0070a0;
  transition: all 0.5s ease;
  display: flex;
}
.hero__link:hover {
  text-decoration: underline;
}
.hero__link p {
  margin-right: 0.5rem;
}

@media (max-width: 1024px) {
  .hero {
    padding: 7rem 0 4rem;
  }
  .hero__title {
    margin-bottom: 2rem;
    font-family: "Fraunces", serif;
    font-size: 4rem;
    line-height: 110%;
  }
  .hero__item:last-child {
    width: 50%;
  }
  .hero__item:last-child img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 4rem 0;
  }
  .hero__items {
    flex-direction: column;
  }
  .hero__item {
    width: 100%;
  }
  .hero__item:first-child {
    margin-right: 0;
    margin-bottom: 3rem;
  }
  .hero__item:last-child {
    width: 80%;
  }
  .hero__title {
    max-width: 100%;
    text-align: center;
  }
  .hero__text {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .hero__title {
    margin-bottom: 2rem;
    font-family: "Fraunces", serif;
    font-size: 3.6rem;
    line-height: 110%;
  }
  .hero__item:last-child {
    width: 100%;
  }
  .hero__buttons {
    flex-direction: column;
  }
  .hero__button {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
.companies {
  margin-bottom: 16rem;
  padding: 4rem 0 0;
}
.companies__text {
  margin-bottom: 2.36rem;
  font-size: 2.4rem;
  line-height: 156%;
  text-align: center;
}
.companies__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  column-gap: 6rem;
}

@media (max-width: 768px) {
  .companies {
    margin-bottom: 7rem;
  }
  .companies__items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
}
@media (max-width: 375px) {
  .companies__items {
    grid-template-columns: 1fr;
  }
}
.benefits {
  margin-bottom: 11.96rem;
}
.benefits__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.benefits__item {
  padding: 3.2rem 3.2rem 4rem;
}
.benefits__item_yellow {
  background-color: #faea73;
}
.benefits__item_blue {
  background-color: #cceff6;
}
.benefits__item_rose {
  background-color: #f7cedc;
}

@media (max-width: 768px) {
  .benefits {
    margin-bottom: 6rem;
  }
  .benefits__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .benefits__items {
    grid-template-columns: 1fr;
  }
  .benefits__item {
    padding: 2rem;
  }
}
.getrelaxing {
  padding: 8rem;
  background-color: #f7f9fa;
}
.getrelaxing__title {
  margin-bottom: 3.4rem;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
  max-width: 62.9rem;
}
.getrelaxing__items {
  display: flex;
  justify-content: space-between;
}
.getrelaxing__item:not(:last-child) {
  margin-right: 2rem;
}

.text-block {
  padding-top: 2.75rem;
}
.text-block__item {
  width: 48.58rem;
  padding: 1.7rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 0.1rem solid #c2cdd8;
}
.text-block__item:first-child {
  border-top: 0.1rem solid #c2cdd8;
}
.text-block__item-img {
  margin-right: 1.6rem;
  max-width: 3.2rem;
}
.text-block__item-img img {
  width: 100%;
}
.text-block__item-info {
  margin-right: 1.6rem;
  max-width: 36rem;
  flex-grow: 2;
}
.text-block__item-title {
  margin-bottom: 1.8rem;
  font-family: "Fraunces", serif;
  font-size: 2.1rem;
  line-height: 110%;
}
.text-block__item-text {
  font-size: 1.6rem;
  line-height: 150%;
}
.text-block__item-text_none {
  display: none;
}
.text-block__item-arrow {
  max-width: 1.8rem;
  justify-self: end;
  cursor: pointer;
}
.text-block__item-arrow img {
  width: 100%;
}

@media (max-width: 1100px) {
  .getrelaxing {
    padding: 6rem 0;
  }
  .getrelaxing__title {
    max-width: 100%;
  }
  .getrelaxing__items {
    flex-direction: column;
  }
  .getrelaxing__item:last-child {
    align-self: center;
  }
  .getrelaxing__item:last-child img {
    width: 100%;
  }
  .getrelaxing__item:not(:last-child) {
    margin-right: 0;
  }
  .text-block__item {
    width: 100%;
  }
  .text-block__item-info {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .getrelaxing__title {
    margin-bottom: 2rem;
    font-family: "Fraunces", serif;
    font-size: 3.6rem;
    line-height: 110%;
  }
}
@media (max-width: 480px) {
  .getrelaxing {
    padding: 4rem 0;
  }
  .getrelaxing__title {
    margin-bottom: 3.4rem;
    font-family: "Fraunces", serif;
    font-size: 3rem;
    line-height: 110%;
  }
  .text-block__item-info {
    max-width: 70%;
  }
}
.about {
  padding: 12.04rem 0 11.96rem;
}
.about__items {
  display: flex;
  justify-content: space-between;
}
.about__item-title {
  margin-right: 2rem;
  max-width: 30rem;
}
.about__title {
  margin-bottom: 0;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
}
.about__item-blocks {
  max-width: 73.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media (max-width: 1024px) {
  .about {
    padding: 6rem 0;
  }
  .about__items {
    flex-direction: column;
  }
  .about__item-title {
    max-width: 100%;
  }
  .about__title {
    margin-bottom: 4rem;
    font-family: "Fraunces", serif;
    font-size: 4.2rem;
    line-height: 110%;
  }
  .about__item-blocks {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .about__item-blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .about__title {
    margin-bottom: 1rem;
    font-family: "Fraunces", serif;
    font-size: 3rem;
    line-height: 110%;
  }
  .about__item-blocks {
    grid-template-columns: 1fr;
  }
}
.banner {
  padding: 8rem 0 9.2rem;
  background-color: #0070a0;
  color: #ffffff;
}
.banner__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__item:not(:last-child) {
  margin-right: 1rem;
}

.banner-info__title {
  margin-bottom: 1.8rem;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
  max-width: 40.3rem;
}
.banner-info__text {
  margin-bottom: 1.7rem;
  max-width: 48rem;
  font-size: 1.8rem;
  line-height: 150%;
}
.banner-info__list {
  margin-bottom: 2.8rem;
}
.banner-info__item {
  padding-left: 2.5rem;
  font-size: 1.6rem;
  background-image: url("../img/banner-check.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.banner-info__item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.banner-info__text-demo {
  font-size: 1.7rem;
  line-height: 159%;
}

@media (max-width: 1024px) {
  .banner {
    padding: 6rem 0;
  }
  .banner__items {
    flex-direction: column-reverse;
  }
  .banner__item:not(:last-child) {
    margin-right: 0;
    margin-top: 3rem;
  }
  .banner__item:not(:last-child) img {
    width: 100%;
  }
  .banner-info__title {
    max-width: 100%;
  }
  .banner-info__text {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .banner {
    padding: 4rem 0;
  }
  .banner-info__title {
    margin-bottom: 1.8rem;
    font-family: "Fraunces", serif;
    font-size: 3rem;
    line-height: 110%;
  }
}
.automated {
  padding: 12rem 0;
}
.automated__title {
  margin-bottom: 1.8rem;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
}
.automated__text {
  margin-bottom: 6.54rem;
  max-width: 64.3rem;
  font-size: 1.8rem;
  line-height: 150%;
}
.automated__blocks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 6.4rem;
  row-gap: 3rem;
}

@media (max-width: 768px) {
  .automated {
    padding: 6rem 0;
  }
  .automated__blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .automated__title {
    margin-bottom: 1.8rem;
    font-family: "Fraunces", serif;
    font-size: 3rem;
    line-height: 110%;
  }
  .automated__blocks {
    grid-template-columns: 1fr;
  }
}
.blog {
  padding: 8rem 0;
  background-color: #f7f9fa;
}
.blog__title-block {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__title {
  margin-bottom: 0;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
}
.blog__link {
  font-size: 1.7rem;
  line-height: 159%;
  color: #0070a0;
  transition: all 0.5s ease;
}
.blog__link:hover {
  text-decoration: underline;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.item-blog {
  min-height: 100%;
}
.item-blog__img {
  width: 100%;
  height: 23.8rem;
}
.item-blog__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item-blog__body {
  height: 60%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item-blog__beige {
  margin-bottom: 0.8rem;
  width: fit-content;
  padding: 0.4rem 1.2rem;
  background-color: #e6f7ff;
}
.item-blog__title {
  margin-bottom: 1.1rem;
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 110%;
}
.item-blog__text {
  flex: 1 1 auto;
  margin-bottom: 1.3rem;
  font-size: 1.4rem;
  line-height: 140%;
}
.item-blog__date {
  font-size: 1.2rem;
  line-height: 163%;
}

@media (max-width: 1080px) {
  .item-blog__body {
    padding: 1rem;
  }
  .item-blog__title {
    min-height: 8rem;
  }
}
@media (max-width: 768px) {
  .blog {
    padding: 6rem 0;
  }
  .blog__title-block {
    margin-bottom: 2rem;
    flex-direction: column;
  }
  .blog__title {
    margin-bottom: 2rem;
    font-family: "Fraunces", serif;
    font-size: 4.2rem;
    line-height: 110%;
  }
  .blog__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-blog__body {
    height: auto;
  }
}
@media (max-width: 480px) {
  .blog {
    padding: 4rem 0;
  }
  .blog__title {
    margin-bottom: 2rem;
    font-family: "Fraunces", serif;
    font-size: 3rem;
    line-height: 110%;
  }
  .blog__items {
    grid-template-columns: 1fr;
  }
  .item-blog__title {
    min-height: auto;
  }
}
.getstarted {
  padding: 8rem 0;
}
.getstarted .container {
  background-color: #e6f7ff;
  padding: 6.3rem;
}
.getstarted__title {
  margin-bottom: 1.8rem;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
}
.getstarted__text {
  margin-bottom: 3.3rem;
  max-width: 50.3rem;
  font-size: 1.8rem;
}
.getstarted__button {
  width: 17.4rem;
  height: 4.3rem;
  display: flex;
  background-color: #0070a0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-bottom: 1.2rem;
}
.getstarted__button:hover {
  transform: scale(1.04);
}
.getstarted__ihfo-items {
  display: flex;
}
.getstarted__ihfo-item {
  padding-left: 2rem;
  font-size: 1.3rem;
  line-height: 161%;
  color: #626a72;
  background-image: url("../img/started-check.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.getstarted__ihfo-item:not(:last-child) {
  margin-right: 3.2rem;
}

@media (max-width: 1024px) {
  .getstarted {
    padding: 4rem 0;
  }
}
@media (max-width: 480px) {
  .getstarted .container {
    padding: 4rem 2rem;
  }
  .getstarted__title {
    margin-bottom: 1.8rem;
    font-family: "Fraunces", serif;
    font-size: 3rem;
    line-height: 110%;
  }
  .getstarted__ihfo-items {
    flex-direction: column;
  }
}
.footer__info {
  padding: 4.8rem 0 6.4rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #dee5eb;
}
.footer__logo-block {
  margin-right: 2rem;
}
.footer__logo {
  margin-bottom: 2rem;
}
.footer__logo-text {
  font-size: 1.4rem;
  line-height: 140%;
}
.footer__logo-text_blue {
  color: #0070a0;
}
.footer__items {
  display: flex;
}
.footer__item {
  width: 21.6rem;
  display: flex;
  flex-direction: column;
}
.footer__item-title {
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  line-height: 133%;
}
.footer__item-link {
  font-size: 1.4rem;
  line-height: 143%;
  color: #626a72;
  transition: all 0.5s ease;
}
.footer__item-link:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__item-link:hover {
  text-decoration: underline;
}
.footer__item-text {
  margin-bottom: 1.4rem;
  font-size: 1.6rem;
  line-height: 150%;
}
.footer__email-block {
  padding-bottom: 0.7rem;
  padding-left: 1.5rem;
  display: flex;
  border-bottom: 0.1rem solid #dee5eb;
}
.footer__email-input {
  margin-right: 1rem;
  font-size: 1.3rem;
}
.footer__email-input::placeholder {
  color: #626a72;
}
.footer__email-arrow:hover {
  transform: scale(0.8);
}
.footer__copyright {
  padding: 3.6rem 0 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copiright {
  font-size: 1.3rem;
  line-height: 150%;
}
.copiright_blue {
  color: #0070a0;
}

.social {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 890px) {
  .footer__info {
    padding: 2rem 0;
    flex-direction: column;
  }
  .footer__logo-block {
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .footer__items {
    flex-wrap: wrap;
  }
  .footer__item:not(:last-child) {
    text-align: center;
    width: 50%;
  }
  .footer__item:last-child {
    width: 100%;
    margin-top: 3rem;
  }
  .footer__email-block {
    border: none;
  }
  .footer__email-input {
    border-bottom: 0.1rem solid #dee5eb;
  }
  .footer__copyright {
    flex-direction: column;
  }
  .copiright {
    margin-bottom: 2rem;
  }
}