body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.02rem;
  color: #1f1f1f;
}

.container {
  margin: 0 auto;
  max-width: 116rem;
  padding: 0 1.5rem;
}

.block__img {
  margin-bottom: 0.8rem;
}
.block__img_none {
  opacity: 0;
}
.block__title {
  margin-bottom: 1.1rem;
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 110%;
}
.block__text {
  font-size: 1.5rem;
  line-height: 160%;
}

.header {
  padding: 1.95rem 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 4rem;
}
.header__buttons {
  display: flex;
  align-items: center;
}
.header__link {
  font-size: 1.5rem;
  line-height: 160%;
  color: #0070a0;
  transition: all 0.5s ease;
  margin-right: 2rem;
}
.header__link:hover {
  text-decoration: underline;
}
.header__button {
  width: 13.9rem;
  height: 3.6rem;
  display: flex;
  background-color: #0070a0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
}
.header__button:hover {
  transform: scale(1.04);
}

.logo {
  max-width: 10.6rem;
}
.logo img {
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 2rem;
}
.menu__link {
  font-size: 1.5rem;
  line-height: 160%;
  transition: all 0.5s ease;
  color: #33383f;
}
.menu__link:hover {
  color: #0070a0;
  text-decoration: underline;
}

.hero {
  padding: 9rem 0 4.02rem;
}
.hero__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__item:not(:last-child) {
  margin-right: 2rem;
}
.hero__title {
  margin-bottom: 2.1rem;
  font-family: "Fraunces", serif;
  font-size: 5.8rem;
  line-height: 110%;
  max-width: 48.5rem;
}
.hero__text {
  margin-bottom: 2.9rem;
  max-width: 35.1rem;
  font-size: 2rem;
  line-height: 150%;
}
.hero__buttons {
  display: flex;
  align-items: center;
}
.hero__button {
  width: 17.4rem;
  height: 4.3rem;
  display: flex;
  background-color: #0070a0;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-right: 2.4rem;
}
.hero__button:hover {
  transform: scale(1.04);
}
.hero__link {
  font-size: 1.7rem;
  line-height: 160%;
  color: #0070a0;
  transition: all 0.5s ease;
  display: flex;
}
.hero__link:hover {
  text-decoration: underline;
}
.hero__link p {
  margin-right: 0.5rem;
}

.companies {
  margin-bottom: 16rem;
  padding: 4rem 0 0;
}
.companies__text {
  margin-bottom: 2.36rem;
  font-size: 2.4rem;
  line-height: 156%;
  text-align: center;
}
.companies__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  column-gap: 6rem;
}

.benefits {
  margin-bottom: 11.96rem;
}
.benefits__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.benefits__item {
  padding: 3.2rem 3.2rem 4rem;
}
.benefits__item_yellow {
  background-color: #faea73;
}
.benefits__item_blue {
  background-color: #cceff6;
}
.benefits__item_rose {
  background-color: #f7cedc;
}

.getrelaxing {
  padding: 8rem;
  background-color: #f7f9fa;
}
.getrelaxing__title {
  margin-bottom: 3.4rem;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
  max-width: 62.9rem;
}
.getrelaxing__items {
  display: flex;
  justify-content: space-between;
}
.getrelaxing__item:not(:last-child) {
  margin-right: 2rem;
}

.text-block {
  padding-top: 2.75rem;
}
.text-block__item {
  width: 48.58rem;
  padding: 1.7rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 0.1rem solid #c2cdd8;
}
.text-block__item:first-child {
  border-top: 0.1rem solid #c2cdd8;
}
.text-block__item-img {
  margin-right: 1.6rem;
  max-width: 3.2rem;
}
.text-block__item-img img {
  width: 100%;
}
.text-block__item-info {
  margin-right: 1.6rem;
  max-width: 36rem;
  flex-grow: 2;
}
.text-block__item-title {
  margin-bottom: 1.8rem;
  font-family: "Fraunces", serif;
  font-size: 2.1rem;
  line-height: 110%;
}
.text-block__item-text {
  font-size: 1.6rem;
  line-height: 150%;
}
.text-block__item-text_none {
  display: none;
}
.text-block__item-arrow {
  max-width: 1.8rem;
  justify-self: end;
  cursor: pointer;
}
.text-block__item-arrow img {
  width: 100%;
}

.about {
  padding: 12.04rem 0 11.96rem;
}
.about__items {
  display: flex;
  justify-content: space-between;
}
.about__item-title {
  margin-right: 2rem;
  max-width: 30rem;
}
.about__title {
  margin-bottom: 0;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
}
.about__item-blocks {
  max-width: 73.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.banner {
  padding: 8rem 0 9.2rem;
  background-color: #0070a0;
  color: #ffffff;
}
.banner__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner__item:not(:last-child) {
  margin-right: 1rem;
}

.banner-info__title {
  margin-bottom: 1.8rem;
  font-family: "Fraunces", serif;
  font-size: 4.2rem;
  line-height: 110%;
  max-width: 40.3rem;
}
.banner-info__text {
  margin-bottom: 1.7rem;
  max-width: 48rem;
  font-size: 1.8rem;
  line-height: 150%;
}
.banner-info__list {
  margin-bottom: 2.8rem;
}
.banner-info__item {
  padding-left: 2.5rem;
  font-size: 1.6rem;
  background-image: url("../img/banner-check.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
.banner-info__item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.banner-info__text-demo {
  font-size: 1.7rem;
  line-height: 159%;
}