//переменные
$font-color-main: #1f1f1f;
$font-color-white: #ffffff;
$font-color-menu: #33383f;
$font-color-light: #626a72;
$color-blue: #0070a0;
$bg-hero-decor: #def2f7;
$bg-block-first: #faea73;
$bg-block-second: #cceff6;
$bg-block-third: #f7cedc;
$bg-block-grey: #f7f9fa;
$bg-block-started: #e6f7ff;
$color-border-getrelaxing: #c2cdd8;
$color-border-footer: #dee5eb;

//mixins

@mixin button-blue($width, $height) {
  width: $width;
  height: $height;
  display: flex;
  background-color: $color-blue;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $font-color-white;
  transition: all 0.5s ease;

  &:hover {
    //box-shadow: 0 0 1rem $color-blue;
    transform: scale(1.04);
  }
}

@mixin link-blue($font-size) {
  font-size: $font-size;
  line-height: 160%;
  color: $color-blue;
  transition: all 0.5s ease;

  &:hover {
    text-decoration: underline;
  }
}

@mixin title-style($font-size, $margin-bottom) {
  margin-bottom: $margin-bottom;
  font-family: "Fraunces", serif;
  font-size: $font-size;
  line-height: 110%;
}

body {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.02rem;
  color: $font-color-main;
}

.container {
  margin: 0 auto;
  max-width: 116rem;
  padding: 0 1.5rem;
}

.block {
  &__img {
    margin-bottom: 0.8rem;
    &_none {
      opacity: 0;
    }
  }
  &__title {
    @include title-style(2.5rem, 1.1rem);
  }
  &__text {
    font-size: 1.5rem;
    line-height: 160%;
  }
}

//HEADER
.header {
  padding: 1.95rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__navigation

  &__navigation {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }

  // .header__logo

  &__logo {
    margin-right: 4rem;
  }

  // .header__buttons

  &__buttons {
    display: flex;
    align-items: center;
  }

  // .header__link

  &__link {
    @include link-blue(1.5rem);
    margin-right: 2rem;
  }

  // .header__button

  &__button {
    @include button-blue(13.9rem, 3.6rem);
  }
}

.logo {
  max-width: 10.6rem;
  img {
    width: 100%;
  }
}

.menu {
  // .menu__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .menu__item

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  // .menu__link

  &__link {
    font-size: 1.5rem;
    line-height: 160%;
    transition: all 0.5s ease;
    color: $font-color-menu;

    &:hover {
      color: $color-blue;
      text-decoration: underline;
    }
  }
}

//HERO

.hero {
  padding: 9rem 0 4.02rem;
  // .hero__items

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .hero__item

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  // .hero__title

  &__title {
    @include title-style(5.8rem, 2.1rem);
    max-width: 48.5rem;
  }

  // .hero__text

  &__text {
    margin-bottom: 2.9rem;
    max-width: 35.1rem;
    font-size: 2rem;
    line-height: 150%;
  }

  // .hero__buttons

  &__buttons {
    display: flex;
    align-items: center;
  }

  // .hero__button

  &__button {
    @include button-blue(17.4rem, 4.3rem);
    margin-right: 2.4rem;
  }

  // .hero__link

  &__link {
    @include link-blue(1.7rem);
    display: flex;
    p {
      margin-right: 0.5rem;
    }
  }
}

//COMPANIES

.companies {
  margin-bottom: 16rem;
  padding: 4rem 0 0;
  // .companies__text

  &__text {
    margin-bottom: 2.36rem;
    font-size: 2.4rem;
    line-height: 156%;
    text-align: center;
  }

  // .companies__items

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    column-gap: 6rem;
  }
}

//benefits

.benefits {
  margin-bottom: 11.96rem;
  // .benefits__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }

  // .benefits__item

  &__item {
    padding: 3.2rem 3.2rem 4rem;
    // .benefits__item_yellow

    &_yellow {
      background-color: $bg-block-first;
    }

    // .benefits__item_blue

    &_blue {
      background-color: $bg-block-second;
    }

    // .benefits__item_rose

    &_rose {
      background-color: $bg-block-third;
    }
  }
}

//getrelaxing

.getrelaxing {
  padding: 8rem;
  background-color: $bg-block-grey;

  // .getrelaxing__title

  &__title {
    @include title-style(4.2rem, 3.4rem);
    max-width: 62.9rem;
  }

  // .getrelaxing__items

  &__items {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  // .getrelaxing__item

  &__item {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.text-block {
  padding-top: 2.75rem;
  // .text-block__item

  &__item {
    width: 48.58rem;
    padding: 1.7rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.1rem solid $color-border-getrelaxing;
    &:first-child {
      border-top: 0.1rem solid $color-border-getrelaxing;
    }
  }

  // .text-block__item-img

  &__item-img {
    margin-right: 1.6rem;
    max-width: 3.2rem;
    img {
      width: 100%;
    }
  }

  // .text-block__item-info

  &__item-info {
    margin-right: 1.6rem;
    max-width: 36rem;
    flex-grow: 2;
  }

  // .text-block__item-title

  &__item-title {
    @include title-style(2.1rem, 1.8rem);
  }

  // .text-block__item-text

  &__item-text {
    font-size: 1.6rem;
    line-height: 150%;
    &_none {
      display: none;
    }
  }

  // .text-block__item-arrow

  &__item-arrow {
    max-width: 1.8rem;
    justify-self: end;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}

//ABOUT

.about {
  padding: 12.04rem 0 11.96rem;
  // .about__items

  &__items {
    display: flex;
    justify-content: space-between;
  }

  // .about__item-title

  &__item-title {
    margin-right: 2rem;
    max-width: 30rem;
  }

  // .about__title

  &__title {
    @include title-style(4.2rem, 0);
  }

  // .about__item-blocks

  &__item-blocks {
    max-width: 73.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }
}

//BANNER

.banner {
  padding: 8rem 0 9.2rem;
  background-color: $color-blue;
  color: $font-color-white;

  // .banner__items

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .banner__item

  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.banner-info {
  // .banner-info__title

  &__title {
    @include title-style(4.2rem, 1.8rem);
    max-width: 40.3rem;
  }

  // .banner-info__text

  &__text {
    margin-bottom: 1.7rem;
    max-width: 48rem;
    font-size: 1.8rem;
    line-height: 150%;
  }

  // .banner-info__list

  &__list {
    margin-bottom: 2.8rem;
  }

  // .banner-info__item

  &__item {
    padding-left: 2.5rem;
    font-size: 1.6rem;
    background-image: url("../img/banner-check.png");
    background-repeat: no-repeat;
    background-position: 0 50%;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  // .banner-info__text-demo

  &__text-demo {
    font-size: 1.7rem;
    line-height: 159%;
  }
}

//AUTOMATED

.automated {
  padding: 12rem 0;
  // .automated__title

  &__title {
    @include title-style(4.2rem, 1.8rem);
  }

  // .automated__text

  &__text {
    margin-bottom: 6.54rem;
    max-width: 64.3rem;
    font-size: 1.8rem;
    line-height: 150%;
  }

  // .automated__blocks

  &__blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6.4rem;
    row-gap: 3rem;
  }
}

//BLOG

.blog {
  padding: 8rem 0;
  background-color: $bg-block-grey;

  // .blog__title-block

  &__title-block {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .blog__title

  &__title {
    @include title-style(4.2rem, 0);
  }

  // .blog__link

  &__link {
    font-size: 1.7rem;
    line-height: 159%;
    color: $color-blue;
    transition: all 0.5s ease;
    &:hover {
      text-decoration: underline;
    }
  }

  // .blog__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2rem;
  }
}

.item-blog {
  // .item-blog__img

  &__img {
    width: 100%;
    height: 23.8rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    background-color: $font-color-white;
  }

  // .item-blog__beige

  &__beige {
    margin-bottom: 0.8rem;
    width: fit-content;
    padding: 0.4rem 1.2rem;
    background-color: $bg-block-started;
  }

  // .item-blog__title

  &__title {
    @include title-style(2.5rem, 1.1rem);
  }

  // .item-blog__text

  &__text {
    flex: 1 1 auto;
    margin-bottom: 1.3rem;
    font-size: 1.4rem;
    line-height: 140%;
  }

  // .item-blog__date

  &__date {
    font-size: 1.2rem;
    line-height: 163%;
  }
}

//GETSTARTED

.getstarted {
  padding: 8rem 0;

  .container {
    background-color: $bg-block-started;
    padding: 6.3rem;
  }

  // .getstarted__title

  &__title {
    @include title-style(4.2rem, 1.8rem);
  }

  // .getstarted__text

  &__text {
    margin-bottom: 3.3rem;
    max-width: 50.3rem;
    font-size: 1.8rem;
  }

  // .getstarted__button

  &__button {
    @include button-blue(17.4rem, 4.3rem);
    margin-bottom: 1.2rem;
  }

  // .getstarted__ihfo-items

  &__ihfo-items {
    display: flex;
  }

  // .getstarted__ihfo-item

  &__ihfo-item {
    padding-left: 2rem;
    font-size: 1.3rem;
    line-height: 161%;
    color: $font-color-light;
    background-image: url("../img/started-check.png");
    background-repeat: no-repeat;
    background-position: 0 50%;

    &:not(:last-child) {
      margin-right: 3.2rem;
    }
  }
}

//FOOTER

.footer {
  // .footer__info

  &__info {
    padding: 4.8rem 0 6.4rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid $color-border-footer;
  }

  // .footer__logo-block

  &__logo-block {
    margin-right: 2rem;
  }

  // .footer__logo

  &__logo {
    margin-bottom: 2rem;
  }

  // .footer__logo-text

  &__logo-text {
    font-size: 1.4rem;
    line-height: 140%;

    // .footer__logo-text_blue

    &_blue {
      color: $color-blue;
    }
  }

  // .footer__items

  &__items {
    display: flex;
  }

  // .footer__item

  &__item {
    width: 21.6rem;
    display: flex;
    flex-direction: column;
  }

  // .footer__item-title

  &__item-title {
    margin-bottom: 1.6rem;
    font-size: 1.5rem;
    line-height: 133%;
  }

  // .footer__item-link

  &__item-link {
    font-size: 1.4rem;
    line-height: 143%;
    color: $font-color-light;
    transition: all 0.5s ease;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  // .footer__item-text

  &__item-text {
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
    line-height: 150%;
  }

  // .footer__email-block

  &__email-block {
    padding-bottom: 0.7rem;
    padding-left: 1.5rem;
    display: flex;
    border-bottom: 0.1rem solid $color-border-footer;
  }

  // .footer__email-input

  &__email-input {
    margin-right: 1rem;
    font-size: 1.3rem;
    &::placeholder {
      color: $font-color-light;
    }
  }

  // .footer__email-arrow

  &__email-arrow {
    &:hover {
      transform: scale(0.8);
    }
  }

  &__copyright {
    padding: 3.6rem 0 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.copiright {
  font-size: 1.3rem;
  line-height: 150%;

  // .copiright_blue

  &_blue {
    color: $color-blue;
  }
}
.social {
  display: flex;
  align-items: center;
  // .social__item

  &__item {
    &:not(:last-child){
      margin-right: 2rem;
    }
  }
}
